.skischoolInfoButton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 30%;

}

.somePadding {
    padding: 10px;
}

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 1600px;
    background-repeat: repeat;
}


.contentWrapper {
    background: white;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0.95;
}

.level {
    width: 250px;
    margin-right: 10px;
}

.level > .level-name {
    font-size: 22px;
}

.level-prerequisite {
    font-style: italic;
    margin-top: 5px;
}
.level-description {
    margin-top: 5px;
    margin-bottom: 20px;
}



.slot {
    position: relative;
    border: 1px solid black;
    width: 190px;
    height: 80px;
    padding: 5px;
    font-family: Tahoma, Arial;
    font-size: 12px;
    line-height: normal;
    margin-right: 5px;
    margin-bottom: 20px;
    background: #e6e6e6;

    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.slot > .level-name {
    font-size: 16px;
}

.slot-full {
    color: gray;
}

.slot-spaces-left {
    color: green;
}

.slot-full-message {
    color: red;
}

.slot-full-message {

}

.slot-book-button {
    position: absolute;
    top: 55px;
    left: 140px;
}


.snow{
    background: none;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}