.pitch {
    padding-top: 30%;
    text-align: center;
}

.pitch p {
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    font-size: 20px;
}

.somePadding {
    padding: 10px;
}

body {
    background-image: url('images/background.jpg');
    background-size: 1600px;
    background-repeat: repeat;
}


.contentWrapper {
    background: white;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0.95;
}


.level {
}


.level > .level-name {
    font-size: 22px;
}

.level-prerequisite {
    font-style: italic;
    margin-top: 5px;
}
.level-description {
    margin-top: 5px;
    margin-bottom: 20px;
}

.slots {
}

.slot {
    vertical-align: top;
    display: inline-block;
    border: 1px solid black;

    min-width: 170px;
    height: 100px;
    padding: 5px;
    font-family: Tahoma, Arial, serif;
    font-size: 12px;

    margin-right: 5px;
    margin-bottom: 10px;
    background: #e6e6e6;

    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}

.slot .level-name {

    font-weight: bold;
}

.slotAvailability {
    display: inline-block;
}

.slot-full {
    color: gray;
}

.slot-spaces-left {
    color: green;
}

.slot-full-message {
    color: red;
}

.slot-full-message {

}

.membershipNumberForm {
    max-width: 200px;
}

.linkToCourseHomePage {
    margin-top: 20px;
    margin-bottom: 10px;
}


.snow{
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


