<!--
Context should be something like:
{
  collection: ...
  doc: ...
  fieldName: ...
}
-->
<template name="inPlace">
    {{#if editing}}
        <td>
        {{#autoForm collection=collection id=formId doc=doc type="method-update" meteormethod=methodName autosave=true}}
            {{> afFieldInput name=field}}
            {{#if afFieldIsInvalid name=field}}
                <span class="text-danger">{{afFieldMessage name=field}}</span>
            {{/if}}
        {{/autoForm}}
        </td>
    {{else}}
        <td class="inPlaceField">
            {{fieldValue}}
        </td>
    {{/if}}

</template>